In [174]:
import sys
import datetime as dt
from dateutil.relativedelta import *
import time
import numpy as np  # array operations
import scipy.stats as scs
import scipy.optimize as sco
import scipy.interpolate as sci
import pandas as pd 
import calendar
import concurrent.futures
import matplotlib as mpl
import matplotlib.pyplot as plt  # standard plotting library
from pylab import plt
plt.style.use('ggplot')
# put all plots in the notebook itself
"""
  Local  Class
"""
import CAPM

In [175]:
def my_Read_csv(stocklist) :
    global  DataPath
    #  read csv from yahoo 
    data = pd.DataFrame()
    for sym in stocklist:
        data[sym] = pd.read_csv(DataPath+"/"+sym+".csv", index_col=0)['Adj Close']
        if data[sym].dtype !=  float :
            data = data[data[sym] != 'null']
    data = data.astype(float)
    return data

In [176]:
"""
Global variables
"""
DataPath = "Data"

In [177]:
def Import_Data():
    HSI = ['0027.HK','0700.HK','0005.HK','0939.HK','1299.HK','0941.HK','1398.HK','3988.HK','0001.HK','2318.HK','0388.HK',
           '0386.HK','0002.HK','0883.HK','0016.HK','0823.HK','2388.HK','0003.HK','0011.HK','0857.HK','2628.HK',
                 '0006.HK','0688.HK','1928.HK','0004.HK','0267.HK','0175.HK','0762.HK','0066.HK','1088.HK','1109.HK','2018.HK',
                 '0012.HK','0017.HK','3328.HK','0023.HK','1038.HK','2319.HK','0083.HK','0101.HK','1044.HK','0019.HK',
                 '0992.HK','0151.HK','0836.HK','0144.HK','0135.HK','0293.HK','3968.HK','1113.HK','0322.HK']

    stocklist = HSI
    data = my_Read_csv(stocklist)
    return data

In [178]:
def Rebalance(data):
    global DrawChart
    
    aCapm = CAPM.CAPM(data)
    prets, pvols = aCapm.random_walk()
    Sflag, msrstat, msrpw = aCapm.Max_Sharpe()
    Mflag, mvstat, mvpw = aCapm.Min_Varian()
    retH = msrstat[0] * 1.1
    retL = mvstat[0] * 0.7
    trets, tvols = aCapm.EF_Frontier(retH, retL)
    SHRW = pd.DataFrame(index=data.columns)
    SHRW['weight'] = msrpw.round(3)
    MVW = pd.DataFrame(index=data.columns)
    MVW['weight'] = mvpw.round(3)
        
    plt.figure(figsize=(10, 6))
    plt.scatter(pvols, prets,
                    c=prets / pvols, marker='.')
                    # random portfolio composition
    plt.scatter(tvols, trets,
                    c=trets / tvols, 
                    marker='X')
                    # efficient frontier
    plt.plot(msrstat[1], msrstat[0],
                'r*', markersize=15.0)
                # portfolio with highest Sharpe ratio
    plt.plot(mvstat[1], mvstat[0],
                'y*', markersize=15.0)
                # minimum variance portfolio
    plt.grid(True)
    plt.xlabel('expected volatility')
    plt.ylabel('expected return')
    plt.title('Minimum risk portfolios for given return level (crosses) '+sdt+' - '+edt)
    plt.colorbar(label='Sharpe ratio')
    
    return SHRW, MVW

In [179]:
def print_port_weighting(title, port, weights) :
    print('{} :'.format(title))
    for sym, w in zip(port, weights) :
        if (w > 0.0):
            print('{} : {}'.format(sym, w))

In [180]:
endt = dt.date.today()
stdt = endt - relativedelta(years=1)
sdt = stdt.__str__()
edt = endt.__str__()
print(" Extract Data from {} to {}".format(sdt, edt ))
bigdata = Import_Data()
d1 = bigdata[sdt:edt]
ssdt = d1.index[0]
eedt = d1.index[-1]
print(" Actual Data from {} to {}.".format(ssdt, eedt))

 Extract Data from 2016-11-06 to 2017-11-06
 Actual Data from 2016-11-07 to 2017-11-06.

In [181]:
SRw, MVw = Rebalance(d1)

  Max_Sharpe.noa = 51
  max func sharpe=
     fun: -4.058433784353571
     jac: array([  1.73711777e-03,   9.75131989e-04,   1.00886703e-01,
         1.86382222e+00,   9.13933456e-01,   2.53486186e+00,
         1.36101294e+00,   2.38563848e+00,   1.45654809e+00,
        -1.23721361e-03,   2.71148354e+00,   2.57558626e+00,
         1.04266822e+00,   5.24529338e-01,   6.09030247e-01,
         4.76229548e-01,   4.00583804e-01,   7.41188526e-01,
         6.05583191e-05,   1.99456149e+00,   2.38219255e+00,
         1.92828906e+00,   2.99057001e+00,   2.03988796e+00,
         9.30924356e-01,   2.73654431e+00,   3.39186192e-03,
         1.10318148e+00,   8.27954352e-01,   3.14118528e+00,
         2.74009877e+00,   1.16086006e-03,  -1.37323141e-03,
         3.02799106e-01,   3.19329649e+00,   1.74137652e+00,
         7.35172868e-01,   3.84088576e-01,   1.78387880e+00,
         2.52874595e+00,  -2.10046768e-03,   2.17156708e+00,
         2.36943656e+00,  -2.03394890e-03,   1.14067012e+00,
         1.29037809e+00,   3.29571962e-03,  -3.30746174e-04,
         5.59692025e-01,   7.31598914e-01,  -1.51687860e-03])
 message: 'Optimization terminated successfully.'
    nfev: 917
     nit: 17
    njev: 17
  status: 0
 success: True
       x: array([  3.87895046e-02,   1.51319954e-01,   4.15004665e-15,
         3.03047362e-15,   1.58273058e-15,   8.18099804e-15,
         5.54448825e-16,   7.27032114e-15,   9.99030574e-16,
         1.31661545e-01,   1.14105761e-14,   8.04018171e-15,
         1.07101319e-15,   2.66132072e-15,   2.85596999e-15,
         2.70719691e-15,   3.08440557e-15,   2.44596925e-15,
         3.58787985e-01,   3.26516745e-15,   9.97516700e-15,
         2.01379745e-15,   1.30396843e-14,   5.95323763e-15,
         1.45859154e-15,   9.75599969e-15,   3.77689868e-02,
         5.47506328e-16,   2.08377514e-15,   1.50990540e-14,
         1.03679752e-14,   5.36563874e-02,   4.67065566e-02,
         3.41458205e-15,   1.45473618e-14,   1.63190042e-15,
         2.57729440e-15,   2.65351733e-15,   2.33935303e-15,
         9.22969988e-15,   2.32751771e-02,   6.33558154e-15,
         6.57297058e-15,   4.65682350e-03,   1.31597567e-15,
         7.64145569e-16,   5.32203437e-04,   7.40051004e-02,
         1.67215331e-15,   2.33151228e-15,   7.88397762e-02])

  min func variance=
     fun: 0.005135347771061942
     jac: array([ 0.01362258,  0.01447393,  0.01015881,  0.01339914,  0.01010292,
        0.01037066,  0.01521392,  0.01287227,  0.01031502,  0.0136442 ,
        0.01146901,  0.01378596,  0.0102879 ,  0.01029967,  0.01186957,
        0.01169872,  0.01233569,  0.01018993,  0.01031454,  0.01026649,
        0.01777426,  0.01156533,  0.01255109,  0.01063179,  0.01405698,
        0.01197883,  0.02147685,  0.01576898,  0.01016834,  0.01637512,
        0.01702696,  0.00988254,  0.01087637,  0.013799  ,  0.01307292,
        0.01174137,  0.01022912,  0.01301857,  0.01575799,  0.01594022,
        0.01106285,  0.01042063,  0.01117719,  0.01139443,  0.01308183,
        0.01285898,  0.01056004,  0.01040509,  0.01470272,  0.01343694,
        0.01001797])
 message: 'Optimization terminated successfully.'
    nfev: 1114
     nit: 21
    njev: 21
  status: 0
 success: True
       x: array([  0.00000000e+00,   0.00000000e+00,   6.30182548e-02,
         0.00000000e+00,   3.09221814e-03,   8.67150346e-02,
         0.00000000e+00,   6.42465411e-20,   8.25076551e-02,
         4.76356245e-18,   2.38877190e-18,   0.00000000e+00,
         1.24745676e-01,   4.82096691e-02,   5.86260983e-18,
         5.80975156e-20,   2.68190563e-19,   1.58392637e-01,
         9.11071782e-02,   1.21002620e-02,   0.00000000e+00,
         0.00000000e+00,   2.64023266e-18,   0.00000000e+00,
         1.84615243e-18,   0.00000000e+00,   1.68669948e-18,
         7.01484545e-18,   1.73164086e-02,   3.95900778e-19,
         0.00000000e+00,   2.14738637e-03,   3.40277596e-19,
         1.79403947e-18,   0.00000000e+00,   4.95766588e-21,
         1.18013171e-01,   0.00000000e+00,   1.05547606e-18,
         1.53894535e-18,   1.56901060e-18,   5.89125461e-02,
         2.60212775e-18,   2.03899142e-18,   0.00000000e+00,
         0.00000000e+00,   6.02497151e-03,   7.79894860e-02,
         2.04980854e-18,   2.94984983e-18,   4.97074458e-02])

In [187]:
tmp = SRw.sort_values(by=['weight'], ascending=False)
second = tmp.head(4)
print('  all second {}'.format(second))

  all SRw          weight
0011.HK   0.446
0700.HK   0.233
2318.HK   0.232
0322.HK   0.089

In [188]:
d2 = pd.DataFrame()
for col in second.index:
    d2[col] = d1[col]
d2.info()
ssdt = d2.index[0]
eedt = d2.index[-1]
print(" D2 Actual Data from {} to {}.".format(ssdt, eedt))

<class 'pandas.core.frame.DataFrame'>
Index: 247 entries, 2016-11-07 to 2017-11-06
Data columns (total 4 columns):
0011.HK    247 non-null float64
0700.HK    247 non-null float64
2318.HK    247 non-null float64
0322.HK    247 non-null float64
dtypes: float64(4)
memory usage: 8.7+ KB
 D2 Actual Data from 2016-11-07 to 2017-11-06.

In [189]:
d2.head()

               0011.HK     0700.HK    2318.HK   0322.HK
Date
2016-11-07  134.688370  203.728165  40.194965  8.692739
2016-11-08  134.784668  205.124939  40.537678  8.751941
2016-11-09  133.436813  201.932327  39.313713  8.673005
2016-11-10  136.228775  207.718918  40.097050  8.830875
2016-11-11  137.480377  199.537872  39.803299  8.830875

In [190]:
d2.tail()

               0011.HK     0700.HK    2318.HK  0322.HK
Date
2017-10-31  184.699997  349.799988  68.500000    12.30
2017-11-01  185.600006  360.000000  70.300003    12.62
2017-11-02  184.300003  361.799988  70.050003    12.70
2017-11-03  184.000000  368.000000  70.699997    12.52
2017-11-06  182.699997  377.000000  70.800003    12.36

In [191]:
SRw, MVw = Rebalance(d2)
SRw

  Max_Sharpe.noa = 4
  max func sharpe=
     fun: -3.821240527613922
     jac: array([-0.00030109,  0.00037274,  0.00010222,  0.0002695 ])
 message: 'Optimization terminated successfully.'
    nfev: 51
     nit: 8
    njev: 8
  status: 0
 success: True
       x: array([ 0.44645306,  0.23305567,  0.2318035 ,  0.08868777])

  min func variance=
     fun: 0.011693894589345838
     jac: array([ 0.02335035,  0.0227793 ,  0.02390116,  0.02336255])
 message: 'Optimization terminated successfully.'
    nfev: 49
     nit: 8
    njev: 8
  status: 0
 success: True
       x: array([ 0.67209163,  0.06856562,  0.13760425,  0.1217385 ])

--> TVOLS dupl value=

         weight
0011.HK   0.446
0700.HK   0.233
2318.HK   0.232
0322.HK   0.089